table,
td {
  border: 5px solid red;
}
td {
  width: 150px;
  height: 150px;
  text-align: center;
  background-color: #fe7968;
}

body {
  background-color: #2c3e50;
  color: white;
}

#start {
  background-color: #ebb54e;
  border-color: #ebb54e;
}

td {
  font-size: 75px;
}

h3 {
  color: #ebb54e;
}
